.breadcrumb-nav {
  overflow: auto;

  @include media-breakpoint-down(sm) {
    overflow: scroll;
  }
}
.breadcrumb {
  width: max-content;
  padding-left: 0;
  margin-bottom: 0;
  background: transparent;
  font-size: $smaller-font-size;

  a {
    color: $gray-600;
  }
}